.lastfm *{
  margin:0;
  padding:0;
  font-size:90%;
  list-style:none;
  line-height:1.3em;
}
.lastfm {
  border:1px solid #10387D;
  border-radius: 10px 10px 10px 10px;
  width:300px;
  padding:.5em;
  margin:.5em;
  background: #10387D;
  font-family:arial,sans-serif; 
  clear: both;
  }

.lastfm li{
  border-bottom:1px solid #3773DB;
  border-radius: 10px 10px 10px 10px;
  padding-bottom:.2em;
  margin-bottom:.2em;
  background: #3773DB;
  padding: 3px  
}
.lastfm li a{
  font-size: 14px
}
.lastfm a{
  color: #fff;
  text-decoration: none;
}
.lastfm li div{
  color: #ddd;
  font-size: 10px;  
}
.lastfm a:hover{
 text-decoration: underline;
}
